{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@app": "./app"
      },
      "extensions": [".js", ".ios.js", ".android.js"]
    }
    ]
  ]
}
