{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": 0,
    "no-use-before-define": 0,
    "radix": 0,
    "no-param-reassign": 0,
    "react/jsx-filename-extension": 0,
    "no-plusplus": 0,
    "react/require-default-props": 0,
    "react/forbid-prop-types": 0,
    "prefer-destructuring": 0,
    "react/jsx-no-bind": 0,
    "indent": [4, "tab", { "SwitchCase": 1, "VariableDeclarator": 1 }],
    "no-tabs": 0,
    "react/prop-types": 0,
    "react/jsx-indent": [4, "tab"],
    "react/jsx-indent-props": [4, "tab"]
  }
}
